<div class="row">
    <div class="col-4 d-none d-lg-flex justify-content-start">
      <img
        src="../assets/img/illustrations/tree-3.png"
        alt="auth-tree"
        class="authentication-image-object-left" />
    </div>
    <div class="col-4 d-none d-lg-flex justify-content-center">
      <img
        src="../assets/img/illustrations/auth-basic-mask-light.png"
        class="authentication-image"
        height="172"
        alt="triangle-bg"
        data-app-light-img="illustrations/auth-basic-mask-light.png"
        data-app-dark-img="illustrations/auth-basic-mask-dark.png" />
    </div>
    <div class="col-4 d-none d-lg-flex justify-content-end">
      <img
        src="../assets/img/illustrations/tree.png"
        alt="auth-tree"
        class="authentication-image-object-right" />
    </div>
  </div>
</div>
</div>
</div>

<!-- Core JS -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../assets/vendor/js/menu.js"></script>
<script src="../assets/js/main.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>